{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}  <link rel="stylesheet" href="{% static 'css/form3style.css' %}">{% endblock stylesheet %}
{% block content %} 
    <section style="width: 830px;" class="begin">
        <div class="heading" style="font-size: large; text-align: center; margin-right: 90px;">
        <h1><b>Get My Data</b></h1><br>
        </div>

        <div class="container">
        <ul class="progressbar">
            <li ></li>
            <li ></li>
            <li class="active"></li>
        </ul>
        </div>
        <br>
    </section>

   
<div class="custom-form">
    <form action="" method="post" class="custom-centered">
        <section class="section">
            <div class="container">
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <div class="heading" style="font-size: large;">
                        <h1><b>Confirm Request To Get Your Clinical Data</b></h1><br>
                    </div>
                    <label for="{{ form.data_categories_to_fetch.id_for_label }}" class="labelprop">My Health Data Categories to Fetch:</label>
                    {{form.data_categories_to_fetch}}
                    {{form.data_categories_to_fetch.errors}}
                    {% comment %} <label for="Everything">Everything</label> {% endcomment %}
                    {% comment %} <input type="radio" class="radiodata1" id="Everything" name="choice" value="Everything">
                 
                    <label for="Nonsensitivedata">Non sensitive data</label>
                    <input type="radio" class="radiodata2" id="Nonsensitivedata" name="choice" value="Nonsensitivedata"><br> {% endcomment %}
             
                  </div>
                   <div class="field">
                    <!-- <input type="text" id="country" name="country" value="Norway" size="90" style="height: 80px; text-align: left; padding: 1px 1px 1px 1px;" readonly> -->
                    <textarea rows="3" cols="93" style="text-align: left;" readonly>
                    By Signing this request you are authorizing and providing consent for XYZ Health Plan to reach out to your prior health plan and request your clinical data. If available we will retrieve your clinical information and the compatible data will be made available via the patient access APIs. 
                    </textarea>
                   </div>
                   <div class="field">
                   <label for="{{ form.signature_name.id_for_label }}" class="labelprop">Your Name:</label>
                   {{form.signature_name}}
                   {{form.signature_name.errors}}
                   </div>

                   <div class="field">
                   <label for="{{ form.date.id_for_label }}" class="labelprop">Date:</label>
                   {{form.date}}
                   {{form.date.errors}}
                   </div>
                   <div class="field">
                   <label for="{{ form.signature_url.id_for_label }}" class="labelprop">Your Signature:</label>
                    {{form.signature_url}}
                    {{form.signature_url.errors}}
                   </div>
                    {% csrf_token %}
                    <button class="button button2">Yes</button>
                    <button class="button button3">Decline</button>
                </div>
               </div>
            </div>
        </section>
    </form>
</div>
    
{% endblock content %}