{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}  <link rel="stylesheet" href="{% static 'css/form4style.css' %}">{% endblock stylesheet %}
{% block content %} 
    <section style="width: 720px;" class="begin">
        <div class="heading" style="font-size: large; text-align: center; margin-right: 85px;">
        <h1><b>Get My Data</b></h1><br>
        </div>

        <div class="container">
        <ul class="progressbar">
            <li ></li>
            <li class="active"></li>
            <li ></li>
        </ul>
        </div>
        <br>
    </section>

   
<div class="custom-form">
    <form method="post" class="custom-centered">
        <section class="section">
            <div class="heading" style="font-size: large;">
                <h1><b>How to Get Your Data</b></h1><br>
            </div>
            <a class="button button2" style="width: 200px; height: 150px;" type="submit"
                href="{% url 'prior_health_plan' %}">Request my data <br>via my new Health <br>Plan</a>
            
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button button2" style="width: 200px; height: 150px;" formaction="{% url 'prior_health_plan' %}">Fetch the
                data myself</button>

        </section>
    </form>
</div>
    
{% endblock content %}