<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Info Form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="css/form1style.css">
  
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

  <section style="width: 720px;" class="begin">
    <div class="heading" style="font-size: large; text-align: center; margin-right: 55px;">
      <h1><b>Get My Data</b></h1><br>
    </div>

    <div class="container">
      <ul class="progressbar">
        <li ></li>
        <li class="active"></li>
        <li ></li>
      </ul>
    </div>
    <br>
  </section>

  <div class="custom-form">
    <form action="registerview" method="POST">

      <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column">
              <div class="field">



                <div class="heading" style="font-size: large;">
                  <h1><b>Prior Health Plan Coverage</b></h1><br>
                </div>
                {{form.Insurer.errors}}
                <label for="{{form.Insurer.id_for_label}}">Insurer:</label>
               
                <!-- <input type="text" id="patientname" name="patientname" size="35"><br> -->
                {{form.Insurer}}
              
              </div>
              <div class="field">
                {{form.HealthPlanName.errors}}
                <label for="{{form.HealthPlanName.id_for_label}}">Health Plan Name:</label>
                
                <!-- <input type="text" id="patientname" name="patientname" size="35"><br> -->
                {{form.HealthPlanName}}
              </div>
              <div class="field">
                {{form.YourName.errors}}
                <label for="{{form.YourName.id_for_label}}">Your Name(if different):</label>
                
                <!-- <input type="text" id="patientname" name="patientname" size="35"><br> -->
                {{form.YourName}}
              </div>
              <div class="field">
                {{form.MemberId.errors}}
                <label for="{{form.MemberId.id_for_label}}">Member Id:</label>
                
                <!-- <input type="text" id="patientname" name="patientname" size="35"><br> -->
                {{form.MemberId}}
              </div>
              <div class="field">
                {{form.SubscriberId.errors}}
                <label for="{{form.SubscriberId.id_for_label}}">Subscriber Id:</label>
                
                <!-- <input type="text" id="patientname" name="patientname" size="35"><br> -->
                {{form.SubscriberId}}
              </div>
              <div class="field">
                {{form.GroupId.errors}}
                <label for="{{form.GroupId.id_for_label}}">Group Id:</label>
               
                <!-- <input type="text" id="patientname" name="patientname"><br> -->
                {{form.GroupId}}
              </div>
              <div class="field">
                {{form.PlanId.errors}}
                <label for="{{form.PlanId.id_for_label}}">Plan Id:</label>
                
                <!-- <input type="text" id="patientname" name="patientname"><br> -->
               {{form.PlanId}}
              </div>
              <div class="field is-grouped" style="margin-top: 10px;">
                
                <input type="submit" value="Continue" class="button is-link">
              
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
  
</body>

</html>