<html>
  <head>
    <title>Step Progress bar</title>
    <link rel="stylesheet" type="text/css" href="css/stepprogressbar.css">
  </head>
  <body>
    
    <section style="width: 400px;" class="begin">
      <div class="heading" style="font-size: large; text-align: center; margin-right: 55px;">
        <h1><b>Get My Data</b></h1><br>
      </div>
  
      <div class="container">
        <ul class="progressbar">
          <li>1</li>
          <li class="active">2</li>
          <li>3</li>
        </ul>
      </div>
      <br>
    </section>
  
  </body>

</html>